html{
scroll-behavior: smooth;
}
#myNavBar{
    background-color: black;
    text-decoration-color: orange;
}
Marquee{
    background-color: orange;
    font-size: 15px;
    font-weight: bold;
}
.navbar li {
  color: white;
}
#WDP {
  width: 1300;
  height:100%;
  object-fit: cover;
}
#ContactUs {
    background-color: orange;
    display:inline;
}
#details h3{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: orange;
}

